#floating-panel {
  position: absolute;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  display:block;
}

#invent-floating-panel {
  border-radius: 11px;
  box-shadow: inset 0 0 11px 1px black;
  max-width: 216px;
  position: absolute;
  top: 70%;
  margin-left: 5px;
  z-index: 5;
  background-color: #848484 ;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  display:block;
}

.gm-iv-container {
  display: none;
}

.inventSlot {
  float:left;
  box-shadow: inset 0 0 11px 1px black;
  border: 1px solid black;
  margin-left: 2px;
  background-color: #757575;
}
.inventSlot img {
  height: 32px;
  width: 32px;
}

.inventSlot .amountText {
  position:absolute;
  top: inherit;
  margin-top: -40px;
  color: whitesmoke;
  text-shadow:
     -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
     1px 1px 0 #000; 
}

#dialogue-floating-panel {
  max-width: 600px;
  max-height: 200px;
  width: 600px;
  height: 200px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: #bdb79c;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  text-align: center;
  display:block;
  box-shadow: inset 0px 0px 200px 11px #584d21;
  border-radius: 60px;
}

#dialogueInterface {
  width: 500px;
  height: 200px;
}

#dialogButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

.interfaceDialogButton{
  background-color: #b0aa8d;
  border: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 16px;
}

.interfaceDialogButton img{
  width: 32px;
  height: 32px;
}

#dialogueInterface {
  margin-left: 100px;
  word-break: normal;
}

#dialogueOptionInterface {
  margin-left: 100px;
}

#dialogueInterfaceChathead{
  width: 100px;
  height: 100px;
  float:left;
  position:absolute;
  left: 0;
  top: 25%;
}


#dialogueInterfaceChathead img {
  height: 32px;
  width: 32px;    
}

#dialogueInterfaceName {
  color: red;
}

/* 
 *Always set the map height explicitly to define the size of the div
 * element that contains the map.
 */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#floating-panel {
  margin-left: -100px;
}

.container {
    width: 100%;
    height: 100%;
}
.sv-controls {
  display: none;
}
#miniMap {
  width: 280px;
  height: 280px; 
  top: 20px;
  margin-left:auto;
  right: 20px;
  border: 4px solid #2E4053;
  border-radius: 100%; 
  z-index: 2;
  box-shadow: 0 0 80px 5px black;
}

.show {
    z-index:1000;
    width: 75px;
    position: absolute;
    background-color:#636363;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    display: block;
    margin: 0;
    list-style-type: none;
    list-style: none;
    box-shadow: inset 0 0 30px 0px black;
}
#rmenu-items{
  width: 80px;
    position: relative;
    color: #f99c04;
    left: -30px;
    text-shadow:
     -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
     1px 1px 0 #000; 
}

.hide {
    display: none;
}

.show li{ list-style: none; }
.show a { border: 0 !important; text-decoration: none; }
.show a:hover { text-decoration: underline !important; }


a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}