#SunBody {
    background-repeat: no-repeat;
    background-size: 100%;
}

#button {
    position: fixed;
    left: 50%;
    right: 50%;
    top: 45%;
    margin-top: -50px;
    margin-left: -25px;
}

#header {
    z-index: 100;
}

#bgimg {
    position: fixed;
    height: 100%;
    width: 100%;
    filter: blur(10px);
}

.standardbg {
    position: fixed;
    width: 100%;
    height:1080px;
    color :white;
    text-shadow: 1px 1px black;
    background: #4B0082;
}
 #map {
     height: 400px;
     width: 50%;
 }